@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&family=Walter+Turncoat&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

html{
	scroll-behavior: smooth;
}

h2{
	font-family: 'Montserrat', sans-serif;
	color: #fd7e14;
}

h1{
	font-family: 'Walter Turncoat', cursive;
	font-size: 54px;
	margin-top: 4vh;
}	

img{
	width: 10vw;
	border-radius:50%;
}

ul{
	list-style: none;
	padding: 0;
}

#landing, #gallery {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  padding: 5px;
}

.nav-link{
	text-transform: uppercase;
}

